@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  background-color: var(--Light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-code {
  background-color: var(--White);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  width: 325px;
  padding-bottom: 30px;
}

.qr-code-img {
  border-radius: 15px;
  margin: 15px;
  height: 290px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
  padding: 8px 36px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: var(--Dark-blue);
}

.des {
  color: var(--Grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;

  position: absolute;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 420px) {
  .qr-code {
    width: 355px;
  }

  .qr-code-img {
    border-radius: 13px;
    margin: 18px;
    height: 300px;
  }
  p {
    padding: 8px 46px;
  }
}
